# Byte-compiled / optimized / DLL files
*.py[cod]

# pycharm stuff
.idea

# Sphinx
/sphinx/build

# cython
/chemics/build/temp**/*
/chemics/build/main/*
/chemics/*.spec

# Test Output
/tests/testdata/*.chemics