# Byte-compiled / optimized / DLL files
*.py[cod]

# pycharm stuff
.idea

# Sphinx
/sphinx/build

# cython
/chemics/build/temp*3.6/

# OS Specific fast_dp_files
fast_dp_calculator.c
fast_dp_calculator.*.so

# PyInstaller
/chemics/build/chemics_win/
/chemics/dist/chemics*.exe
/chemics/dist/*.log*

# Exported Scan Files
*.xls