# Byte-compiled / optimized / DLL files
*.py[cod]

# pycharm stuff
.idea

# Sphinx
/sphinx/build

# cython
/chemics/build/temp**/
/chemics/build/chemics/
/chemics/dist/
# currently don't keep specs but this might change.
*.spec

# Test Output
/tests/testdata/*.chemics