[bumpversion]
current_version = 2.2.6
commit = True
tag = True
tag_name = v{new_version}
message = Bump version: {current_version} → {new_version}

[bumpversion:file:../chemics/main.py]
search = Qg.QMessageBox.about=={current_version}
replace = {new_version}

[bumpversion:file:../chemics/scan.py]
search = self.version=={current_version}
replace = {new_version}

[bumpversion:file:../CHANGELOG.md]
search = [Unreleased]
replace = [{new_version}] - {now:%Y-%m-%d}

[bumpversion:file:chemics_win.spec]
search = name='chemics.=={current_version}
replace = {new_version}

